*,*::after,*::before{
    box-sizing: border-box;
}

.container{
    background-color: grey;
    height: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.item{
    background-color: cornflowerblue;
    width: 20%;
    border: thin solid lightblue;
}
